<% content_for(:system_path) do %>
  <span class="folder-path">
    <% @path_components.each do |path_component| %>
      <%= maybe_virtual_link_to path_component do %>
        <%= path_component.title %>
      <% end %>
      <span>/</span>
    <% end %>
  </span>
<% end %>

<div class="folder-container">
  <div class='folder-listings'>
    <%= render partial: 'shared/folder_listing', locals: {folder: @virtual_folder, depth: 8} %>
  </div>

  <% if @virtual_folder.tags.any? %>
    <div class="folder-tags">
      <h4>Tags</h4>
      <% @virtual_folder.tags.each do |tag| %>
        <%= link_to(tag, tag_path(name: tag)) %>
      <% end %>
    </div>
  <% end %>

  <% if @virtual_folder.overlays.any? %>
    <div class="folder-overlays">
      <h4>Overlays</h4>
      <ul>
        <% @virtual_folder.overlays.each do |overlaid| %>
          <li><%= overlaid.path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @virtual_folder.constituents.any? %>
    <div class="folder-constituents">
      <h4>Constituents</h4>
      <ul>
        <% @virtual_folder.constituents.each do |constituent| %>
          <li><%= constituent.path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="folder-actions">
    <h4>(no manage)</h4>
  </div>
</div>
