<%= render partial: 'shared/system_path', locals: {path_components: @node.folder.path_components} %>

<span><%= link_to @node.title, page_url(@node.path) %></span>

<% if @show_folder_listing %>
  <div class='folder-listings'>
    <%= render partial: 'shared/folder_listing', locals: {folder: @node.folder, depth: 5, highlight: @node} %>
  </div>
<% end %>

<%= render partial: 'shared/node_box', locals: { node: @node } %>

<% if @node.tags.any? %>
  <h4>Tags</h4>
  <% @node.tags.each do |tag| %>
    <%= link_to(tag, tag_path(name: tag)) %>
  <% end %>
<% end %>

<% if user_signed_in? && @node.user == current_user %>
  <h4>Manage</h4>
  <%= link_to 'Edit', edit_node_path(@node) %>
<% end %>
