<% content_for(:system_path) do %>
  <span class="node-address">
    <% @node.folder.path_components.each do |path_component| %>
      <%= link_to path_component.title, path_component %>
      <span>/</span>
    <% end %>
  </span>
<% end %>

<div class='folder-listings'>
  <%= render partial: 'shared/folder_listing', locals: {folder: @node.folder, depth: 5, highlight: @node} %>
</div>

<%= render partial: 'shared/node_box', locals: { node: @node } %>

<% if @node.tags.any? %>
  <h4>Tags</h4>
  <% @node.tags.each do |tag| %>
    <%= link_to(tag, tag_path(name: tag)) %>
  <% end %>
<% end %>

<h4>Manage</h4>
<%= link_to 'Edit', edit_node_path(@node) %>
