<% content_for(:system_path) do %>
  <span class="folder-path">
    <% @folder.path_components.each do |path_component| %>
      <%= link_to path_component.title, path_component %>
      <span>/</span>
    <% end %>
  </span>
<% end %>

<div class="folder-container">
  <div class='folder-listings'>
    <%= render partial: 'shared/folder_listing', locals: {folder: @folder, depth: 5} %>
  </div>

  <% if @folder.tags.any? %>
    <div class="folder-tags">
      <h4>Tags</h4>
      <% @folder.tags.each do |tag| %>
        <%= link_to(tag, tag_path(name: tag)) %>
      <% end %>
    </div>
  <% end %>

  <div class="folder-actions">
    <h4>Manage</h4>
    <p>
    <%= link_to "Create Folder", new_folder_path(folder: {parent_id: @folder.id}) %>
    |
    <%= link_to "Create Node", new_node_path(node: {folder_id: @folder.id}) %>
    </p>
  </div>
</div>
