<%= render partial: 'shared/system_path', locals: {path_components: @folder.path_components} %>

<div class="folder-container">
  <div class='folder-listings'>
    <%= render partial: 'shared/folder_listing', locals: {folder: @folder, depth: 5} %>
  </div>
  <% (@folder.nodes + @folder.virtual_nodes).each do |node| %>
    <%= render partial: 'shared/node_box', locals: { node: node } %>
  <% end %>

  <% if @folder.tags.any? %>
    <div class="folder-tags">
      <h4>Tags</h4>
      <% @folder.tags.each do |tag| %>
        <%= link_to(tag, tag_path(name: tag)) %>
      <% end %>
    </div>
  <% end %>

  <% if @folder.overlays.any? %>
    <div class="folder-overlays">
      <h4>Overlays</h4>
      <ul>
        <% @folder.overlays.each do |overlaid| %>
          <li><%= link_to overlaid.title, page_url(overlaid.path) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? && @folder.user == current_user %>
    <div class="folder-actions">
      <h4>Manage</h4>
      <p>
      <%= link_to "Create Folder", new_folder_path(folder: {parent_id: @folder.id}) %>
      |
      <%= link_to "Create Node", new_node_path(node: {folder_id: @folder.id}) %>
      |
      <%= link_to "Add Mount", new_mount_path(mount: {target_id: @folder.id}) %>
      |
      <%= link_to "Delete Folder", @folder, method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
    </div>
  <% end %>
</div>
