<% if folder.parent && depth > 0 %>
  <%= render partial: 'shared/folder_listing', locals: {folder: folder.parent, light_up: folder.path, depth: depth-1} %>
<% end %>

<% listing_elements = folder.children + folder.virtual_children + folder.nodes + folder.virtual_nodes %>
<% if listing_elements.any? %>
  <div class="folder-listing">
    <% listing_elements.each do |elem| %>
      <% lit = (local_assigns[:light_up] && local_assigns[:light_up] == elem.path) %>
      <div class="folder-child <%= lit ? 'light_up' : '' %>">
        <%= maybe_virtual_link_to elem do %>
          <% elem_asset_path = if elem.is_a?(VirtualFolder) || elem.is_a?(Folder) then 'folder' else 'file' end %>
          <img src='<%= asset_url "#{elem_asset_path}.png" %>' width=16 />
          <%= elem.title %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
