<% if folder.parent && depth > 0 %>
  <%= render partial: 'shared/folder_listing', locals: {folder: folder.parent, light_up: folder.path, depth: depth-1} %>
<% end %>

<% listing_elements = folder.children + folder.virtual_children + folder.remote_children + folder.nodes + folder.virtual_nodes + folder.remote_nodes %>
<% if listing_elements.any? %>
  <div class="folder-listing">
    <% listing_elements.sort_by(&:title).each do |elem| %>
      <%= link_to page_url(elem.path.gsub(/^\//,'')) do %>
        <% lit = (local_assigns[:light_up] && local_assigns[:light_up] == elem.path) %>
        <div class="link-target <%= lit ? 'light_up' : '' %>">
          <% elem_asset_path = if elem.is_a?(VirtualFolder) || elem.is_a?(Folder) then 'folder' else 'file' end %>
          <img src='<%= asset_url "#{elem_asset_path}.png" %>' />
          <span class='element-name'><%= elem.title %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="folder-listing"><i>(no content)</i></div>
<% end %>
