<div class="welcome">
  <div>
    <% if user_signed_in? %>
      <%= gravatar_for current_user.email, size: 30 %>
      Welcome back, <%= current_user.name %>!
      <small>
        (
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        )
      </small>
      <%= link_to "Home", page_url(Folder.home_for(current_user).path) %>
      <%= form_for @status_update do |f| %>
        <%= f.text_field :content, placeholder: "Whatcha doing?" %>
        <%= f.hidden_field :title, value: @status_update.title %>
        <%= f.hidden_field :folder_id, value: @status_update.folder_id %>
        <%= f.submit 'update status' %>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      | <%= link_to "Root", Folder.root %>
    <% end %>
  </div>
</div>
