<div class="node-container">
  <div class="node-header">
      <%= link_to page_url(Folder.home_for(node.user).path) do %>
        <span class="node-owner">
          <%= gravatar_for(node.user.email, size: 60) %>
          <%= node.user.name %> /
        </span>
      <% end %>

      <%= maybe_virtual_link_to node do %>
        <span class="node-title">
          <%= node.title %>
        </span>
      <% end %>

  </div>

  <div class="node-content">
    <p><%= node.content %></p>
  </div>


  <div class="node-timestamps">
    created <%= distance_of_time_in_words(Time.now - node.created_at) %> ago.


    last updated
    <%= distance_of_time_in_words(Time.now - node.updated_at) %>
    ago.

  </div>
</div>
