<% content_for(:system_path) do %>
  <span class="node-address">
    <% @path_components.each do |path_component| %>
      <%= maybe_virtual_link_to path_component do %>
        <%= path_component.title %>
      <% end %>
      <span>/</span>
    <% end %>
  </span>
<% end %>

<div class='folder-listings'>
  <%= render partial: 'shared/folder_listing', locals: {folder: @virtual_node.folder, depth: 5, highlight: @virtual_node} %>
</div>

<%= render partial: 'shared/node_box', locals: { node: @virtual_node } %>

<% if @virtual_node.tags.any? %>
  <h4>Tags</h4>
  <% @virtual_node.tags.each do |tag| %>
    <%= link_to(tag, tag_path(name: tag)) %>
  <% end %>
<% end %>

<h4>Manage</h4>
<p>(No management of virtual nodes)</p>
