<!DOCTYPE html>
<html>
  <head>
    <title>System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4>
      system
      <% if user_signed_in? %>
        <% if current_user.name.blank? %>
          <small>> why don't you have a name!</small>
        <% else %>
          <small>> welcome back, <%= current_user.name %></small>
        <% end %>
      <% end %>
    </h4>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
