<!DOCTYPE html>
<html>
  <head>
    <title>System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <%= yield :header %>

      <section class="content">

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </section>
    </div>
  </body>
</html>
